TOTAL_CAPITAL=10000
RISK_PER_TRADE_PERCENT=0.01
TRANSACTION_FEE_PERCENT=0.0006

DISCORD_WEBHOOK_URL_VOLUME_ON=your_discord_webhook_url_for_volume_on
DISCORD_WEBHOOK_URL_VOLUME_OFF=your_discord_webhook_url_for_volume_off
DISCORD_WEBHOOK_URL_GENERAL_TARGETS=your_discord_webhook_url_for_general_targets

TARGET_FETCH_TIMES="08:00,20:00"